{% extends "FinalApp_RamSe/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
        
<div >
     
     <div class="row">
         <div class="col-1"></div>
         <div class="col-9">
          <br/>
               <b>A finales del año 2022 decidí necesario dar un vuelco a mi carrera profesional como economista y tomar un curso de Python en CoderHouse para comenzar a involucrarme con el análisis de datos y la programación, un hobby que supe disfrutar mucho durante mi adolescencia.</b><br/>
               <b>Al finalizar el mismo, entregué el presente proyecto final que consiste en una página para dar una respuesta a la mala gestión de postventa de los concesionarios de vehículos. </b><br/>
               <b>En ese momento nació Service Oficial del Automotor Multimarca (SOAM), en asociación con las principales marcas de automóviles vendidos en el país. </b><br/>

         </div>
     </div>
</div>

     


{% endblock %}